@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Signika+Negative:wght@300&display=swap');
body {
    background-color: #D3D3D3;
    font-family: "Signika Negative";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fafbfb;
    font-family: "Roboto Slab";
}
nav a {
    text-align: center;
    color: #008794;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #943E00;
    color: #00CDE0;
}
.book, .join {
    background-color: #D3D3D3;
    color: #008794;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #943E00;
    color: #00CDE0;
}
#background {
    background-color: #fcfbfb;
    height: 725px;
}
.msg{
    background-color: #D3D3D3;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #008794;
    font-family: "Roboto Slab";
}
.msg p {
    color:#008794;
    font-size: .8em;
    padding-bottom: 15px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #943E00;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.mountains {
    margin: 100px 0;
}
.home-title {
    color: #008794;
    font-family: "Roboto Slab";
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #008794;
}
h2 {
    margin: 0;
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
footer {
    background-color: #D3D3D3;
    color: #008794;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color:#008794;
    text-decoration: none;
}
footer a:hover {
    background-color: #943E00;
    color: #00CDE0
}